<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aroma a Cafe - Galeria</title>
    <!-- fuente de enlace cdn -->
    <link rel="stylescheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- fuente de estilos -->
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/styleimg.css">
    <!-- fuente de iconos -->
    <script src="https://kit.fontawesome.com/59526a22ad.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header seccion -->

    <header class="header">
        <a href="../index.html" class="logo">
            <img src="../imagenes/logo.png" alt="">
        </a>

        <nav class="navbar">
            <a href="../index.html">Home</a>
            <a href="#" class="activo">Galeria</a>
            <a href="../views/presupuesto.html">Presupuesto</a>
            <a href="../views/contacto.html">Contactos</a>

        </nav>

        <div class="icons">
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

        <div class="search-form">
            <input type="search" id="seach-box" placeholder="search here....">
            <label for="search-box" class="fas fa-search"></label>
        </div>

        <div class="cart-items-container">
            <div class="cart-item">
                <span class="fas fa-times"></span>
                <img src="imagenes/cart-item1.png" alt="">
                <div class="content">
                    <h3>cart item 01</h3>
                    <div class="price">€15.99</div>
                </div>
            </div>
            <div class="cart-item">
                <span class="fas fa-times"></span>
                <img src="imagenes/cart-item2.png" alt="">
                <div class="content">
                    <h3>cart item 02</h3>
                    <div class="price">€15.99</div>
                </div>
            </div>
            <div class="cart-item">
                <span class="fas fa-times"></span>
                <img src="imagenes/cart-item3.png" alt="">
                <div class="content">
                    <h3>cart item 03</h3>
                    <div class="price">€15.99</div>
                </div>
            </div>
            <div class="cart-item">
                <span class="fas fa-times"></span>
                <img src="imagenes/cart-item4.png" alt="">
                <div class="content">
                    <h3>cart item 04</h3>
                    <div class="price">€15.99</div>
                </div>
            </div>
            <a href="#" class="btn">checkout now</a>
    </header>
    <!-- Galeria de Imagenes seccion  -->

    <section class="container-grid">
        <img src="../imagenes/cafeimg1.jpg" alt="El Fruto" class="img img-1">
        <img src="../imagenes/cafeimg2.jpg" alt="El Saco" class="img img-2">
        <img src="../imagenes/cafeimg3.jpg" alt="En Grano" class="img img-3">
        <img src="../imagenes/cafeimg4.jpg" alt="La Presentacion" class="img img-4">
        <img src="../imagenes/cafeimg5.jpg" alt="Puro" class="img img-5">
        <img src="../imagenes/cafeimg6.jpg" alt="Variedad" class="img img-6">
        <img src="../imagenes/cafeimg7.jpg" alt="Un Tintico" class="img img-7">
        <div class="container-img">
            <img src="" alt="" Class="img-show">
            <i class="fas fa-times"></i>
            <p class="copy"></p>

        </div>
    </section>

    <!-- footer seccion  -->

    <section class="footer">

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>

        </div>
        <div class="dir">Direccion <span>C/puerta del sol 7 C.P. 28013</span> </div>

        <div class="links">
            <a href="../index.html">Home</a>
            <a href="avisolegal.html">Aviso Legal</a>

        </div>

        <div class="credit">creado por <span>Anderson Murillo</span> | all rights reserved</div>

    </section>

    <!-- Enlaces de archivos JS  -->
    <script src="../js/scriphome.js"></script>
    <script src="../js/jsimg.js"></script>


</body>

</html>